/* #ProjectDenis Popovers */

body {
  /* --tune-card-color: rgba(240, 130, 52); */
  /* --tune-card-color: rgba(246, 137, 59, 0.951); */
  --tune-card-color: rgba(246, 137, 59);
  --tune-card-item-hover-color: #a300ff4f;
}

body.light {
  --tune-card-color: rgba(255, 175, 117, 0.951);
  --tune-card-item-hover-color: #a300ff4f;
}

/* Tune Popover Card */

.dm-tune-card {
  display: grid;
  background-color: var(--tune-card-color);
  outline: 2px dashed var(--menu-color);
  border-radius: 0.5rem;
  inset: unset;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  gap: 0.75rem;
  width: min(calc(100svw - 3.7rem), 40rem);
  height: min(calc(100svh - 3.7rem), 30rem);
}

.dm-tune-grid-header {
  display: flex;
  justify-content: center;
  color: black;
}

.dm-tune-header-container h2 {
  color: black;
}

.dm-tune-header-container {

}

.dm-tune-grid-item, .dm-tune-grid-item b {
  font-size: var(--font-base);
  color: black;
}

.dm-tune-grid-item b {
  font-weight: bold;
}

.dm-tune-grid-footer {
  display: flex;
  justify-content: center;
}

/* Tune Popover Buttons */

.dm-btn-popover {
  display: flex;
  align-items: center;
  font-size: var(--font-button);
  width: 100%;
  padding: 0.25rem;
  background-color: transparent;
  outline: 2px dotted black;
  border-radius: 0.33rem;
}

.dm-btn-open-track {
  color: var(--link-color);
}

.dm-btn-open-track:is(:active, :hover) {
  color: var(--link-active-color);
}

/* Media queries for popovers */

@media screen and (max-width: 41.75em) {

  .dm-tune-card {
    height: calc(80% - 1rem);
    bottom: -43%;
  }
}

@media screen and (max-width: 20em) {

  .dm-tune-card {
    width: calc(100% - 1rem);
    gap: 0.5rem;
  }

  .dm-tune-grid-item, .dm-tune-grid-item b, .dm-btn-popover {
    font-size: var(--font-button);
  }

  .dm-tune-grid-header h2 {
    font-size: 7cqi;
  }
}