/* Common element styles */

*, *::before, *::after { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
  /* transition: background-color 0.3s linear; */
  /* outline: 0.1rem solid red; */
}

* {
  line-height: calc(1em + 0.5rem);
}

html {
  font-size: 100%;
}

body {
  --font-xlarge: 3rem;
  --font-large: 2rem;
  --font-subhead: 1.65rem;
  --font-mid: 1.4rem;
  --font-button: 1.3rem;
  --font-base: 1.2rem;
  --font-small: 1rem;

  --focus-color: var(--secondary-color-a);
  --focus-color-inverted: var(--secondary-color-b);

  background: var(--primary-color);
  margin: 0 auto;
}

body.dark {

  --primary-color: black;
  --primary-color-alt: #a300ff1a;
  --secondary-color-a: yellowgreen;
  --secondary-color-b: #ffdc18;
  --secondary-color-c: #ffdc18;
  --accent-color-a: coral;
  --accent-color-b: #9f69d1;
  --accent-color-c: firebrick;
  --neutral-color: yellowgreen;
  --neutral-color-alt: #afafaf;
  --neutral-color-inactive:#bababa;
  --neutral-color-inverted: #111111;
}

body.light {

  --primary-color: cornsilk;
  --primary-color-alt: #fff3ae;
  --secondary-color-a: #551a8b;
  --secondary-color-b: #ffdc18;
  --secondary-color-c: #551a8b;
  --accent-color-a: #ff5518;
  --accent-color-b: #551a8b;
  --accent-color-c: #ff5518;
  --neutral-color: black;
  --neutral-color-alt: #474747;
  --neutral-color-inactive:#818181;
  --neutral-color-inverted: #d8d8d8;
}

body.star {

  --primary-color: #003300;
  --primary-color-alt: #330000;
  --secondary-color-a: #ff6699;
  --secondary-color-b: #ff9933;
  --secondary-color-c: #663399;
  --accent-color-a: #ffd324;
  --accent-color-b: #cccc00;
  --accent-color-c: #3399cc;
  --neutral-color: #fffffff4;
  --neutral-color-alt: #cccccc;
  --neutral-color-inactive:#8e8e8e;
  --neutral-color-inverted: #d8d8d8;
}

body.rainy {

  --primary-color: #FFFAE6;
  --primary-color-alt: #bdddfe;
  --secondary-color-a: #002379;
  --secondary-color-b: #FF9F66;
  --secondary-color-c: #2A629A;
  --accent-color-a: #C25615;
  --accent-color-b: #2a4a69;
  --accent-color-c: #9f69d1;
  --neutral-color: #00122e;
  --neutral-color-alt: #434343;
  --neutral-color-inactive:#a3a3a3;
  --neutral-color-inverted: #d8d8d8;
}

body.papsofanu {

  --primary-color: #606f49;
  --primary-color-alt: #585c47;
  --secondary-color-a: #ffb37d;
  --secondary-color-b: #ffcb69;
  --secondary-color-c: #adc178;
  --accent-color-a: #ffa95c;
  --accent-color-b: #d9ae94;
  --accent-color-c: #ffa86b;
  --neutral-color: #ececec;
  --neutral-color-alt: #ffcb69;
  --neutral-color-inactive:#dce0d9;
  --neutral-color-inverted: black;
}

body.rainbow {

  --primary-color: #fdf498;
  --primary-color-alt: #ffdc18;
  --secondary-color-a: #ee4035;
  --secondary-color-b: #f78141;
  --secondary-color-c: #cccc00;
  --accent-color-a: #539c17;
  --accent-color-b: #0392cf;
  --accent-color-c: #551a8b;
  --neutral-color: black;
  --neutral-color-alt: #454545;
  --neutral-color-inactive:#9f9f9f;
  --neutral-color-inverted: #d8d8d8;
}

body * {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a {
  color: var(--accent-color-b);
  text-decoration-line: none;
  transition: color 0.35s ease-in-out;
}

a:active, a:hover {
  color: var(--accent-color-a);
}

b {
  color: var(--accent-color-a);
}

button {
  appearance: none;
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-align: inherit;
  padding: 0;
  margin: 0;
  max-width: 100%;
  outline-color: transparent;
  transition: outline-color 0.1s ease-in-out;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

button:focus-visible {
  outline: 0.2rem solid var(--focus-color);
}

input[type="radio"] {
  height: 1rem;
  width: 1rem;
  appearance: none;
  border-radius: 50%;
  border: 0.2rem solid var(--primary-color);
  background-color: var(--primary-color);
  box-shadow: 0 0 0 2px var(--focus-color-inverted);
}

input[type="radio"]:checked {
  box-shadow: 0 0 0 2px var(--focus-color);
  background-color: var(--focus-color-inverted);
  border: 0.2rem solid var(--primary-color);
  border-width: 0.2rem;
}

input[type="radio"]:focus-visible {
  outline: 0.135rem solid var(--focus-color);
  outline-offset: 0.345rem;
}

input[type="checkbox"] {
  appearance: none;
  display: inline-flex;
  align-items: center;
  width: var(--font-base);
  height: var(--font-base);
  border: 0.1rem solid black;
  border-radius: 0.12rem;
  background: transparent;
  font: inherit;
  color: black;
}

input[type="checkbox"]::before{
  content:"\2714";
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

input[type="checkbox"]:checked::before{
  opacity: 1;
}

input[type="checkbox"]:focus-visible {
  outline: 0.2rem solid green;
  outline-offset: 0.25rem;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2, h3 {
  color: var(--secondary-color-a);
  text-align: center;
}

h1 {
  font-size: var(--font-large);
  /* padding: 4.25rem 2rem 0rem; */
  padding: 3.25rem 2rem 0rem;
  margin: 0;
}

h2 {
  font-size: var(--font-subhead);
  margin: 0;
}

h3 {
  font-size: var(--font-mid);
  margin: 0;
}

h4 {
  font-size: var(--font-base);
  font-weight: bold;
  color: black;
  margin: 0;
}

p {
  margin: 0;
}

dialog:focus-visible {
  outline: 0.16rem solid var(--focus-color);
  outline-offset: 0.07rem;
}

/* Common button and link styles */

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: var(--font-button);
  padding: 1em;
  border-radius: 0.5rem;
  line-height: 2rem;
  color: black;
  background: var(--secondary-color-b);
  position: relative;
  width: fit-content;
  height: inherit;
  flex-grow: 1;
  opacity: 0.95;
  outline-offset: 0.05rem;
  border-radius: 0.5rem;
}

.btn, 
.btn-text,
.link-wrapper a {
  transition: 
  outline-color 0.33s ease-in-out,
  transform 0.3s ease-in-out, 
  box-shadow 0.33s ease-in-out, 
  opacity 0.33s ease-in-out;
}

.btn:disabled {
  background: color-mix(in srgb, var(--secondary-color-b) 60%, white);
}

.btn:is(:hover, :focus, :focus-visible) {
  box-shadow: 0px 0px 0px 0.1875rem var(--neutral-color);
  opacity: 1;
}

.link-wrapper a:is(:hover, :focus, :focus-visible) {
  box-shadow: 0px 0px 0px 0.1875rem var(--neutral-color);
  outline: none;
}

.btn:is(:hover, :focus, :focus-visible) > .btn-text,
.link-wrapper a:is(:hover, :focus, :focus-visible) {
  transform: scale(1.05);
}

/* .btn:focus:not(:focus-visible) {
  outline: none;
} */

.btn-text {
  width: 100%;
  color: black;
  position: relative;
}

.btn-text,
.link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-wrapper a {
  display: block;
  width: 100%;
  color: black;
  background-color: var(--secondary-color-b);
  font-size: var(--font-button);
  text-align: center;
  border-radius: 0.5rem;
  line-height: 4rem;
}

.app-btn,
.link-btn,
.theme-btn {
  display: flex;
  width: 2.25rem; 
  height: 2.25rem;
  position: relative;
}

.app-btn,
.link-btn a,
.theme-btn,
.section-nav-btn {
  border-radius: 100%;
}

.app-btn:is(:hover, :focus) > *,
.link-btn a:is(:hover, :focus) > *,
.theme-btn:is(:hover, :focus) > *,
.section-nav-btn:is(:hover, :focus) {
  opacity: 1;
  color: var(--accent-color-a);
}

.app-btn:focus-visible,
.link-btn a:focus-visible,
.theme-btn:focus-visible,
.section-nav-btn:focus-visible {
  outline-offset: 0.25rem;
  outline: 0.2rem solid var(--focus-color);
}

.link-wrapper-block {
  border-radius: 0.5rem;
  outline-offset: -0.2rem;
  padding: 0.5em;
}

.link-wrapper-block a:is(:active, :hover, :focus, :focus-visible) {
  text-decoration: underline;  
}

.link-wrapper-block:focus-within {
  outline: 0.2rem solid var(--focus-color-inverted);
}

.section-nav-btn {
  position: fixed;
  width: 2.8rem; 
  height: 2.8rem;
  z-index: 3;
}

/* Common icon styles */

.app-icon,
.link-icon,
.theme-icon,
.action-icon {
  width: 100%;
  height: 100%;
}

.app-icon,
.link-icon,
.theme-icon {
  position: absolute;
}

.app-icon,
.link-icon,
.theme-icon,
.section-nav-btn {
  opacity: 0.75;
  transition: 
  opacity 0.5s ease-in-out, 
  color 0.35s ease-in-out;
  color: var(--accent-color-b);
}

.link-icon-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.action-icon-container {
  display: inline-flex;
  width: var(--font-mid);
  height: var(--font-mid);
}

circle {
  stroke: currentColor;
}

/* Common input form styles */

.input-field {
  min-height: 4rem;
  border-radius: 0.5rem;
  font-size: var(--font-base);
  margin: 0 auto 1.5rem;
  border: 0.3125rem solid var(--secondary-color-b);
  background-color: var(--primary-color);
  padding: 0 0.5em;
  text-align: center;
  color: var(--neutral-color);
  caret-color: var(--neutral-color);
  outline: 0.16rem solid transparent;
  transition: 
  outline-color 0.35s ease-in-out,
  opacity 0.35s ease-in-out, 
  box-shadow 0.5s ease-in-out;
  width: 100%;
}

.input-field::placeholder {
  color: var(--neutral-color);
  opacity: 0.5;
}

.input-field:is(:hover, :focus, :focus-visible) {
  outline-color: var(--focus-color);
  outline-offset: 0.07rem;
  box-shadow: 0px 0px 0px 0.1875rem black;
}

/* Common container styles */

.main-container {
  padding-top: 3.5rem;
}

.header-container, .flex-row-wrap, .flex-col-wrap, .flex-col-centered {
  display: flex;
}

.header-container {
  position: relative;
  justify-content: space-between;
  padding-top: 0.5em;
  gap: 0.75em;
}

/* Common element styles */

.nowrap {
  text-wrap: nowrap;
}

/* Common toggle states */

.hidden {
  display: none;
}

.displayed {
  display: block;
}

.active {
  opacity: 1;
}

.highlighted {
  background-color: var(--focus-color-inverted);
}

.highlighted-bright {
  background-color: #ffdc18;
}

.invisible {
  opacity: 0;
}

.outlined {
  outline: 0.16rem solid var(--focus-color);
  outline-offset: 0.07rem;
  box-shadow: 0px 0px 0px 0.1875rem black;
}

.shadowed {
  text-shadow: 1px 1px 1px black;
}

.scrollable {
  overflow-y: auto !important;
}

/* Global animations override */

/* Custom override (animations reduced to 1ms) */

@media (prefers-reduced-motion: reduce) {
  *, *::after, *::before {
    animation-duration: 1ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 1ms !important;
    transition-delay: -1ms !important;
  }  
}

/* Blanket override (may break JS code) */

/* @media (prefers-reduced-motion: reduce) {
  *, *::after, *::before {
    animation: none !important;
    transition: none !important;
  }
} */