/* Common element styles */

*, *::before, *::after { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
  transition: background-color 0.3s linear;
  /* outline: 0.1rem solid red; */
}

* {
  line-height: calc(1em + 0.5rem);
}

html {
  font-size: 100%;
}

body {
  --font-xlarge: 3rem;
  --font-large: 2rem;
  --font-subhead: 1.65rem;
  --font-mid: 1.4rem;
  --font-button: 1.3rem;
  --font-base: 1.2rem;
  --font-small: 1rem;

  --focus-color: var(--secondary-color-a);
  --focus-color-inverted: var(--secondary-color-b);

  background-color: var(--primary-color);
  margin: 0 auto;
}

body.dark {

  --primary-color: black;
  --primary-color-alt: #a300ff1a;
  --secondary-color-a: yellowgreen;
  --secondary-color-b: #ffdc18;
  --secondary-color-c: #ffdc18;
  --accent-color-a: coral;
  --accent-color-b: #9f69d1;
  --accent-color-c: firebrick;
  --neutral-color: yellowgreen;
  --neutral-color-alt: #afafaf;
}

body.light {

  --primary-color: cornsilk;
  --primary-color-alt: #fff3ae;
  --secondary-color-a: #551a8b;
  --secondary-color-b: #ffdc18;
  --secondary-color-c: #551a8b;
  --accent-color-a: #ff5518;
  --accent-color-b: #551a8b;
  --accent-color-c: #ff5518;
  --neutral-color: black;
  --neutral-color-alt: #474747;
}

body.star {

  --primary-color: #003300;
  --primary-color-alt: #330000;
  --secondary-color-a: #ff6699;
  --secondary-color-b: #ff9933;
  --secondary-color-c: #663399;
  --accent-color-a: #ffd324;
  --accent-color-b: #cccc00;
  --accent-color-c: #3399cc;
  --neutral-color: #fffffff4;
  --neutral-color-alt: #cccccc;
}

body.rainy {

  --primary-color: #FFFAE6;
  --primary-color-alt: #bdddfe;
  --secondary-color-a: #002379;
  --secondary-color-b: #FF9F66;
  --secondary-color-c: #2A629A;
  --accent-color-a: #FF5F00;
  --accent-color-b: #81c0ff;
  --accent-color-c: #9f69d1;
  --neutral-color: #00122e;
  --neutral-color-alt: #474747;
}

body.rainbow {

  --primary-color: #fdf498;
  --primary-color-alt: #ffdc18;
  --secondary-color-a: #ee4035;
  --secondary-color-b: #f78141;
  --secondary-color-c: #cccc00;
  --accent-color-a: #7bc043;
  --accent-color-b: #0392cf;
  --accent-color-c: #551a8b;
  --neutral-color: black;
  --neutral-color-alt: #474747;
}

body * {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a {
  color: var(--accent-color-b);
  text-decoration-line: none;
  transition: color 0.5s ease-in-out;
}

a:active, a:hover {
  color: var(--accent-color-a);
}

b {
  color: var(--accent-color-a);
}

button {
  appearance: none;
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-align: inherit;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

button:focus-visible {
  outline: 0.2rem solid var(--focus-color);
  outline-offset: 0.5rem;
  border-radius: 0.4rem;
}

h1, h2, h3 {
  color: var(--secondary-color-a);
  text-align: center;
}

h1 {
  font-size: var(--font-large);
  margin: 1.7rem 2rem 2rem;
}

h2 {
  font-size: var(--font-subhead);
  margin: 0.4rem 0 0 0;
}

h3 {
  font-size: var(--font-mid);
  margin: 0;
}

dialog:focus-visible {
  outline: 0.16rem solid var(--focus-color);
  outline-offset: 0.07rem;
}

/* Common icon styles */

.logo-btn {
  display: flex;
  width: 2.25rem; 
  height: 2.25rem;
  position: relative;
}

.logo-icon {
  width: 100%;
  height: 100%;
  opacity: 0.75;
  transition: opacity 0.75s ease-in-out, color 0.5s ease-in-out;
  color: var(--accent-color-b);
  position: absolute;
}

/* .n-theme-icon-moon, .n-theme-icon-sun {
  display: none;
} */

/* Common button styles */

.btn {
  display: flex;
  border: none;
  font-size: var(--font-button);
  padding: 1em;
  border-radius: 0.5rem;
  line-height: 2rem;
  color: black;
  background: var(--secondary-color-b);
  transition: all 0.33s ease-in-out;
  position: relative;
  width: fit-content;
  height: inherit;
  flex-grow: 1;
  opacity: 0.95;
  box-shadow: 0px 0px 0px 0.1875rem transparent;
}

.btn:disabled {
  background: color-mix(in srgb, var(--secondary-color-b) 60%, white);
}

.btn:focus-visible {
  outline-offset: 0.05rem;
  border-radius: 0.5rem;
}

.btn:focus:not(:focus-visible) {
  outline: none;
}

.btn-text {
  color: black;
  position: relative;
  transition: all 0.33s ease-in-out;
  text-align: center;
  width: 100%;
}

.logo-btn a:is(:hover, :focus) > *,
.n-theme-btn:is(:hover, :focus) > * {
  opacity: 1;
  color: var(--accent-color-a);
}

.logo-btn a:focus-visible,
.n-theme-btn:focus-visible {
  outline-offset: 0.25rem;
  border-radius: 0.8rem;
  outline: 0.2rem solid var(--focus-color);
}

.logo-link {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Common input form styles */

.input-field {
  min-height: 4rem;
  border-radius: 0.5rem;
  font-size: var(--font-base);
  margin: 0 auto 1.5rem;
  border: 0.3125rem solid var(--secondary-color-b);
  background-color: var(--primary-color);
  padding: 0 0.5em;
  text-align: center;
  color: var(--neutral-color);
  caret-color: var(--neutral-color);
  opacity: 0.75;
  transition: opacity 0.5s ease-in-out, 
  box-shadow 0.5s ease-in-out,
  background-color 0.3s linear;
  box-shadow: 0px 0px 0px 0.1875rem transparent;
  width: 100%;
}

.input-field::placeholder {
  color: var(--neutral-color);
  opacity: 0.5;
}

.input-field:is(:hover, :focus){
  box-shadow: 0px 0px 0px 0.1875rem black;
  opacity: 1;
}

.input-field:focus:not(:focus-visible) {
  outline: none;
}

.input-field:focus-visible {
  outline: 0.16rem solid var(--focus-color);
  outline-offset: 0.07rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 0px 0.1875rem black;
  opacity: 1;
}

/* Common container styles */

.header-container, .flex-row-wrap, .flex-col-wrap, .flex-col-centered {
  display: flex;
}

.header-container {
  position: relative;
  justify-content: space-between;
  padding-top: 0.5em;
  gap: 0.75em;
}

/* Common element styles */

.nowrap {
  text-wrap: nowrap;
}

/* Common toggle states */

.hidden {
  display: none;
}

.displayed {
  display: block;
}

.active {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.hovered {
  box-shadow: 0px 0px 0px 0.1875rem var(--neutral-color);
  opacity: 1;
}

.enlarged {
  transform: scale(1.07);
}
