/* Common element styles */

*, *::before, *::after { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
  transition: background-color 0.3s linear;
  /* outline: 0.1rem solid red; */
}

html {
  font-size: 100%;
}

body {

  --bg-color: black;
  --text-color: yellowgreen;
  --alt-text-color: #afafaf;
  --header-color: yellowgreen;
  --menu-color: #ffdc18;
  --accent-color: #ffdc18;
  --alt-accent-color: #ffdc18;
  --highlight-color: coral;
  --link-color: #9f69d1;
  --link-active-color: coral;
  --border-color: #ffdc1823;
  --alt-border-color: #ffdc1851;
  --header-cell-color: transparent;
  --alt-cell-color: #ffe5531b;
  --focus-color: yellowgreen;
  --alt-light-theme-focus-color: yellowgreen;
  --alt-dark-theme-focus-color: #ffdc18;

  --font-large: 2rem;
  --font-subhead: 1.65rem;
  --font-mid: 1.4rem;
  --font-button: 1.3rem;
  --font-base: 1.2rem;
  --font-small: 1rem;

  background-color: var(--bg-color);
  margin: 0 auto;
}

body.light {
  --bg-color: cornsilk;
  --text-color: black;
  --alt-text-color:#474747;
  --header-color: #551a8b;
  --menu-color: #551a8b;
  --accent-color: #ffdc18;
  --alt-accent-color: black;
  --highlight-color: #ff5518;
  --link-color: #551a8b;
  --link-active-color: #ff5518;
  --border-color: #ffdc18b8;
  --alt-border-color: #ffdc18de;
  --header-cell-color: #551a8b;
  --alt-cell-color: #ffe44b85;
  --focus-color: #551a8b;
  --alt-light-theme-focus-color: #ffdc18;
  --alt-dark-theme-focus-color: #551a8b;
}

body * {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a {
  color: var(--link-color);
  text-decoration-line: none;
  transition: color 0.5s ease-in-out;
}

a:active, a:hover {
  color: var(--link-active-color);
}

b {
  color: var(--highlight-color);
}

button {
  appearance: none;
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-align: inherit;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

button:focus:not(:focus-visible) {
  outline: none;
}

button:focus-visible {
  outline: 0.2rem solid var(--focus-color);
  outline-offset: 0.5rem;
  border-radius: 0.4rem;
}

h1, h2, h3 {
  color: var(--header-color);
  text-align: center;
}

h1 {
  font-size: var(--font-large);
  margin: 1.7rem 2rem 2rem;
}

h2 {
  font-size: var(--font-subhead);
  margin: 0.4rem 0 0 0;
}

h3 {
  font-size: var(--font-mid);
  margin: 0;
}

dialog:focus-visible {
  outline: 0.16rem solid var(--focus-color);
  outline-offset: 0.07rem;
}

/* Common icon styles */

.logo-btn {
  display: flex;
  width: 2.25rem; 
  height: 2.25rem;
  position: relative;
}

.logo-icon {
  width: 100%;
  height: 100%;
  opacity: 0.75;
  transition: opacity 0.75s ease-in-out, color 0.5s ease-in-out;
  color: var(--link-color);
  position: absolute;
}

.n-theme-icon-moon, .github-icon-light {
  display: none;
}

/* Common button styles */

.btn {
  display: flex;
  border: none;
  font-size: var(--font-button);
  padding: 1em;
  border-radius: 0.5rem;
  line-height: 2rem;
  color: black;
  background: var(--accent-color);
  transition: all 0.33s ease-in-out;
  position: relative;
  width: fit-content;
  height: inherit;
  flex-grow: 1;
  opacity: 0.95;
  box-shadow: 0px 0px 0px 0.1875rem transparent;
}

.btn:focus-visible {
  outline-offset: 0.05rem;
  border-radius: 0.5rem;
}

.btn-text {
  color: black;
  position: relative;
  transition: all 0.33s ease-in-out;
  text-align: center;
  width: 100%;
}

.logo-btn a:is(:hover, :focus) > *,
.n-theme-btn:is(:hover, :focus) > * {
  opacity: 1;
  color: var(--highlight-color);
}

.logo-btn a:focus-visible,
.n-theme-btn:focus-visible {
  outline-offset: 0.25rem;
  border-radius: 0.8rem;
  outline: 0.2rem solid var(--focus-color);
}

.logo-link {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Common input form styles */

.input-field {
  min-height: 4rem;
  border-radius: 0.5rem;
  font-size: var(--font-base);
  margin: 0 auto 1.5rem;
  border: 0.3125rem solid var(--accent-color);
  background-color: var(--bg-color);
  padding: 0 0.5em;
  text-align: center;
  color: var(--alt-accent-color);
  caret-color: var(--text-color);
  opacity: 0.75;
  transition: opacity 0.5s ease-in-out, 
  box-shadow 0.5s ease-in-out,
  background-color 0.3s linear;
  box-shadow: 0px 0px 0px 0.1875rem transparent;
  width: 100%;
}

.input-field::placeholder {
  color: var(--alt-accent-color);
  opacity: 0.5;
}

.input-field:is(:hover, :focus){
  box-shadow: 0px 0px 0px 0.1875rem black;
  opacity: 1;
}

.input-field:focus:not(:focus-visible) {
  outline: none;
}

.input-field:focus-visible {
  outline: 0.16rem solid var(--focus-color);
  outline-offset: 0.07rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 0px 0.1875rem black;
  opacity: 1;
}

/* Common container styles */

.header-container, .flex-row-wrap, .flex-col-wrap, .flex-col-centered {
  display: flex;
}

.header-container {
  justify-content: space-between;
  padding-top: 0.5em;
  gap: 0.75em;
}

/* Common element styles */

.nowrap {
  text-wrap: nowrap;
}

/* Common toggle states */

.hidden {
  display: none;
}

.displayed {
  display: block;
}

.active {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.hovered {
  box-shadow: 0px 0px 0px 0.1875rem var(--alt-accent-color);
  opacity: 1;
}

.enlarged {
  transform: scale(1.07);
}
